
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 87vh;
    width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

h1 {
    /* font-size: 10vh; */

    box-sizing: border-box;
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title-card {
    background-color: lightblue;
    height: 8vh;
    width: 100%;
}

.loc-controls {
    background-color: pink;
    width: 100%;
}

.loc-form {
    box-sizing: border-box;
    height: 5vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loc-form input {
    height: 90%;
    width: 80%;
}

.admin-controls {
    background-color: rgb(167, 223, 114);
    box-sizing: border-box;
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}