
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 87vh;
    width: 100vw;
}


h1 {
    /* font-size: 10vh; */
    background-color: lightblue;
    box-sizing: border-box;
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* div.title-card {
    height: 10vh;
    width: 100vw;
} */

div.loc-options {
    height: 5vh;
    width: 100vw;
}

.loc-form {
    background-color: pink;
    box-sizing: border-box;
    height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: ; */
}

.loc-form input {
    height: 90%;
    width: 50%;
}

.loc-form button {
    height: 90%;
}  
