
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 85vh;
}
h1 {
    background-color: lightblue;
    box-sizing: border-box;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: ; */
}

.loc-tools {
    background-color: pink;
    box-sizing: border-box;
    height: 5vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: ; */
}

.loc-tools input {
    height: 90%;
    width: 50%;
}

.loc-tools button {
    height: 90%;
} 
